#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background: linear-gradient(180deg,#5865f2,#4752c4);
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(72, 61, 139, 0.2);
}
.login-btn:hover {
  filter: brightness(1.05);
}

.logout-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background: linear-gradient(180deg,#5865f2,#4752c4);
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 6px 18px rgba(72, 61, 139, 0.2);
}
.logout-btn:hover {
  filter: brightness(1.05);
}

.card {
  margin-top: 4rem;
}

.avatar-card {
  width: 720px;
  height: 550px;
  background-color: #597377;
  border-radius: 10px;
  box-shadow: 0 8px 10px;
  color: #293240;
  align-content: center;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px #161a22;
  object-fit: cover;
}

.avatar-container {
  width: 183px;
  height: 183px;
  box-shadow: 0px 0px 4px 4px #161a2238;
  border-radius: 50%;
  justify-self: center;
}

.spinner {
  font-size: 1.1rem;
  color: #666;
}
